Flask==2.0.1
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
Werkzeug==2.0.1
ChatterBot==1.0.1
PyYAML==3.13
SQLAlchemy==1.2.19
nltk==3.6.2
blis==0.2.4
Pint==0.17
catalogue==1.0.0
certifi==2021.5.30
chardet==4.0.0
chatterbot-corpus==1.2.0
